<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141086236433-egq52a886lb2ttj1u5ul9gg0i53bpelr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141086236433-egq52a886lb2ttj1u5ul9gg0i53bpelr</string>
	<key>API_KEY</key>
	<string>AIzaSyAhNdj7oSqDlyOll6EIK9XjBpgBs5QEI7E</string>
	<key>GCM_SENDER_ID</key>
	<string>141086236433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chriswhite.ImageEraser</string>
	<key>PROJECT_ID</key>
	<string>eraser-e54bb</string>
	<key>STORAGE_BUCKET</key>
	<string>eraser-e54bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141086236433:ios:5212448dbc8a48ecadb6b0</string>
</dict>
</plist>